.hero-gal5 {
  background-image: linear-gradient(
      to bottom,
      rgba(59, 206, 171, 0.7),
      rgba(59, 206, 171, 0.7)
    ),
    url(../asset/gallery/5.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 980px;
  height: 378px;
  margin: 80px auto 0 auto;
  position: relative;

  .hero-title {
    position: absolute;
    bottom: 0;
    left: 80px;
  }

  .title-5 {
    font-size: 300px;
    line-height: 0;
    margin-right: 70px;
    font-family: GillSansReg;
    color: #3bceab;
    text-shadow: 2px 2px #000;
  }

  .title-inter {
    font-size: 100px;
    line-height: 0;
    font-family: GillSansReg;
    color: #3bceab;
    text-shadow: 2px 2px #000;
  }
}

.gala-text {
  max-width: 980px;
  min-height: 200px;
  margin: 0 auto;
}
