.quote {
  height: 300px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    max-width: 789px;

    .yellow-text {
      color: #ffd140;
      font-style: italic;
    }

    .author {
      color: #ee4367;
      margin-bottom: 0;
    }

    .title {
      font-size: 10px;
      color: #a8a8a8;
    }
  }
}
