.booking-form {
  width: 1280px;
  margin: 0 auto;
  height: 890px;
  //   background-color: aqua;

  .booking {
    display: flex;

    h1 {
      font-size: 60px;
      font-family: "proxi-nova";
      font-weight: lighter;
      padding-top: 50px;
      padding-left: 190px;
    }
  }
  .name {
    display: flex;
    margin-top: 50px;
    p {
      font-size: 18px;
      font-weight: lighter;
      font-family: "proxi-nova";
    }
  }
}
