footer {
  width: 100%;
  height: 165px;
  margin-bottom: -5px;
  background-color: #79addc;
  align-items: center;
  justify-content: center;

  // styling for logo in footer
  .logo-two {
    margin-left: 340px;
    margin-bottom: 20px;
    top: 50px;
    position: relative;
    height: 42px;
    width: 92px;
    border: solid 2px #ffffff;
    align-items: left;

    span {
      //   position: absolute;
      bottom: -5px;
      color: white;
    }
  }
  .social {
    padding-left: 75%;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // styling for copyright in footer
  .copyright {
    color: white;
    // margin: 0 auto;
    font-size: 16px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-weight: lighter;
    margin-left: 800px;
  }
}
