.nav-wrapper-about {
  height: 90px;
  width: 100%;
  position: fixed;
}
.nav-wrapper-about nav {
  max-width: 980px;
  height: 90px;
  border-bottom: solid 2px #000;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.nav-wrapper-about nav .logo-about {
  position: relative;
  height: 42px;
  width: 92px;
  border: solid 2px #000;
}
.nav-wrapper-about nav .logo-about span {
  position: absolute;
  bottom: -5px;
  color: #000;
}
.nav-wrapper-about nav .links {
  width: 350px;
  display: flex;
  justify-content: space-around;
}
.nav-wrapper-about nav .links a {
  text-decoration: none;
  color: #000;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.nav-wrapper-about nav .links span {
  color: #79addc;
}

.special {
  font-size: 60px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 90;
  position: relative;
  display: inline;
  top: 150px;
  left: 450px;
}
.special .special-border {
  border-bottom: 2px solid black;
  position: absolute;
  width: 70%;
  left: 0;
  bottom: -5px;
}

.spain {
  /* .spain-para {
    position: absolute;
    width: 390px;
    height: 131px;
    font-size: 12px;
    font-weight: 300;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: left;
    top: 70px;
  } */
}
.spain .spain-border {
  border-bottom: 2px solid black;
  position: absolute;
  width: 50%;
  left: 0;
  bottom: -5px;
}
.spain .percent {
  color: #ff7d38;
  font-size: 20px;
}

.thailand .thai-border {
  border-bottom: 2px solid black;
  position: absolute;
  width: 50%;
  left: 0;
  bottom: -5px;
}
.thailand .percent {
  color: #ff7d38;
  font-size: 20px;
}
.spain-img {
  position: absolute;
  top: 660px;
  left: 450px;
  flex-direction: row;
}

.thai-img {
  position: absolute;
  top: 300px;
  left: 450px;
  flex-direction: row;
}